/*body {
    overflow-y: hidden !important;
}*/

.radioButtondemoBasicUsage body {
    padding: 20px;
}

.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3;
}

.radioButtondemoBasicUsage md-radio-group {
    width: 150px;
}

.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px;
}

.radioButtondemoBasicUsage [ng-controller] {
    padding: 0 20px;
}

.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px;
}

.radioButtondemoBasicUsage md-icon {
    margin: 0 20px 20px;
    width: 128px;
    height: 128px;
}

.radioButtondemoBasicUsage .blockselectdetail {
    color: saddlebrown;
    font-size: 0.9em;
}

.radioButtondemoBasicUsage .blocktitle {
    color: #251a14;
    font-size: 1.51em;
}

.radioButtondemoBasicUsage div.row {
    border-bottom: 1px dashed #ddd;
}

.radioButtondemoBasicUsage div.row:last-child {
    border-bottom: 0px dashed #ddd;
}

.radioButtondemoBasicUsage .md-checked {
    background-color: #c5ffeb;
}

.radioButtondemoBasicUsage .selectionanswer.toppart {
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioButtondemoBasicUsage md-radio-button {
    padding-top: 5px;
    padding-bottom: 5px;
}

.radioButtondemoBasicUsage .selectionanswer,
.radioButtondemoBasicUsage md-radio-button {
    margin-left: 20px;
    margin-right: 20px;
}

.c1 {
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.img-placeholder {
    background: #a4bbcf;
    padding: 10px;
}

.dash-border {
    height: 100%;
    width: 100%;
    border: 4px dashed white;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

.dash-border .plus {
    font-size: 80px;
    line-height: 1.3;
}

.dash-border .text {
    font-size: 20px;
}

.float {
    float: left;
    margin: 40px;
}

.md-raised {
    height: 60px;
}