* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.background_container {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#main_app {
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

}